* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
justify-content: center;
margin: 10vh;
}

li {
    list-style: none;
    margin: .2%;
}

h6 {
    margin: 5vh;
    text-align: center;
    }